.projects {
  display: flex;
  flex-direction: column;
  /* background-image: url(../../images/colors_marble.jpg); */
  background-color: #181e27;
  /* background-repeat: no-repeat;
  background-size: cover; */
  align-items: center;
  padding: 60px 0 60px;
}

.projects__title {
  margin: 0;
  padding: 40px;
  font-size: 40px;
  color: #009299;
}

.projects__container {
  display: flex;
  margin: 20px;
  align-items: center;
  position: relative;
  /* background-color: #009299; */
  background: linear-gradient(
    0deg,
    rgba(2, 116, 121, 1) 6%,
    rgba(0, 146, 153, 1) 80%
  );
  border-radius: 10px;
  max-width: 1200px;
  width: 90%;
}

.projects__pic {
  width: 50%;
  margin: 1%;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 2%;
}

.projects__text-container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__name {
  font-size: 25px;
  color: #181e27;
}

.projects__text {
  text-align: justify;
  padding-top: 20px;
  align-self: flex-start;
  color: aliceblue;
}

.projects__text-link {
  font-weight: bold;
  color: #181e27;
}

.projects__link {
  align-self: baseline;
  margin: 20px 0;
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
  color: #4b007a;
}

.projects__link:visited {
  color: #4b007a;
}

@media screen and (max-width: 900px) {
  .projects {
    padding: 20px 0;
  }

  .projects__title {
    padding: 20px;
    font-size: 25px;
  }

  .projects__container {
    padding: 10px;
    flex-direction: column;
  }

  .projects__container {
    padding: 10px;
    flex-direction: column;
  }

  .projects__pic {
    width: 75%;
  }

  .projects__text-container {
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
  }

  .projects__name {
    font-size: 18px;
  }

  .projects__text {
    padding-top: 14px;
    align-self: center;
  }

  .projects__text-link {
    align-self: flex-start;
  }

  .projects__link {
    align-self: baseline;
    margin-top: 20px;
    background-color: transparent;
    box-shadow: none;
  }
}
