.hero-container {
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(../../images/white_marble.jpg);
  background-size: cover; */
}

.hero__presentation-container {
  display: flex;
  flex-direction: row;
  padding: 10% 5% 0;
  align-items: center;
}

.hero__name {
  width: 40%;
  margin: auto 40px auto 0;
  text-align: right;
  font-size: 50px;
  line-height: 150%;
  text-shadow: 0px 3px 2px white;
}

.hero__img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero__presentation {
  width: 40%;
  margin: auto 0 auto 40px;
  text-align: left;
  font-size: 27px;
  line-height: 150%;
  text-shadow: 0px 3px 2px white;
}

.hero__quote-container {
  background-color: white;
  width: 45%;
  margin-top: 60px;
  padding: 30px 40px;
}

.hero__quote {
  font-size: 25px;
  text-align: center;
  line-height: 130%;
  color: rgb(62, 96, 188);
}

.hero__quote-author {
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
  color: rgb(34, 63, 91);
}

.hero__description-container {
  width: 75%;
  margin: 75px 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  outline: 1px gray solid;
  position: relative;
}

.hero__description-overlay {
  position: absolute;
  background-color: aliceblue;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.hero__description-title {
  text-align: center;
  position: relative;
  z-index: 2;
  color: rgb(62, 96, 188);
}

.hero__description {
  padding-top: 25px;
  font-size: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .hero__presentation-container {
    flex-direction: column;
    align-items: center;
  }

  .hero__name {
    width: 80%;
    margin: 40px 0;
    text-align: center;
    font-size: 35px;
  }

  .hero__img {
    width: 200px;
    height: 200px;
  }

  .hero__presentation {
    width: 80%;
    margin: 40px 0;
    text-align: center;
    font-size: 20px;
  }

  .hero__quote-container {
    width: 65%;
    margin-top: 30px;
    padding: 20px 30px;
  }

  .hero__quote {
    font-size: 20px;
  }

  .hero__quote-author {
    font-size: 15px;
  }

  .hero__description-container {
    margin: 45px 0;
    padding: 20px;
  }

  .hero__description-title {
    font-size: 15px;
  }

  .hero__description {
    padding-top: 15px;
    font-size: 15px;
  }
}
