.about {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  padding: 3%;
}

.about__intro-text {
  width: 50%;
  font-family: Lemon;
  margin: 0;
  color: #fc6a37;
  font-size: 15px;
  /* text-shadow: 1px 1px 3px #181e27; */
  margin: 10px 0 0 0;
}

.about__container {
  padding-top: 10px;
  display: flex;
}

.about__pic {
  position: relative;
  z-index: 0;
  width: 50%;

  object-fit: cover;
  box-shadow: -5px 5px 20px #181e27;
  border-radius: 10px;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* background-color: #009299; */
  background: linear-gradient(330deg, #009299 0%, #4b007a 100%);
  box-shadow: 5px 5px 20px #181e27;
  margin-left: 1%;
  border-radius: 10px;
}

.about__title {
  text-align: center;
  color: #181e27;
  font-size: 40px;
  /* text-shadow: 0 0 2px white; */
}

.about__paragraph {
  padding-top: 15px;
  line-height: 1.5;
  text-align: justify;
  color: white;
}

@media screen and (max-width: 900px) {
  .about {
    padding-top: 60px;
  }

  .about__intro-text {
    width: 75%;
    font-size: 15px;
  }

  .about__container {
    padding-top: 30px;
    flex-direction: column;
  }

  .about__pic {
    width: 100%;
    height: 30vh;
    align-self: center;
    margin-bottom: 20px;
  }

  .about__text-container {
    padding: 20px;
  }

  .about__title {
    font-size: 25px;
  }

  .about__paragraph {
    font-size: 12px;
  }
}
