.contact {
  /* background-image: url(../../images/colors.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(75, 0, 122, 1) 0%,
    rgba(24, 30, 39, 1) 83%
  );
  /* background: radial-gradient(
    circle,
    rgba(0, 146, 153, 1) 0%,
    rgba(75, 0, 122, 1) 80%
  ); */
}

.contact__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 120px;
  /* border: 1px solid gray; */
  margin: auto;
  margin-top: 0;
}

.contact__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: aliceblue; */
  background-color: #181e27;
}

.contact__title {
  margin: 0;
  padding: 0 0 25px;
  z-index: 1;
  align-self: center;
}

.contact__subtitle {
  margin: auto;
  color: #fc6a37;
  /* rgb(0, 247, 255); */
}

.contact__element {
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px 7px 4px 0;
  height: max-content;
}

.contact__form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  padding-bottom: 5px;
}

.contact__input-element {
  display: flex;
  padding: 15px 0 2px 20px;
  align-items: center;
}

.contact__label {
  padding-right: 10px;
  color: aliceblue;
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact__input {
  width: 50%;
  min-width: 150px;
  border-radius: 7px;
  border: 0;
  color: rgb(62, 96, 188);
  padding: 3px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.contact__input::placeholder {
  color: lightslategray;
  font-family: Lemon;
  font-size: 10px;
}

.contact__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px blueviolet;
}

textarea.contact__input {
  height: 50px;
}

.contact__btn {
  font-family: Lemon;
  width: 100px;
  outline: none;
  font-size: 12px;
}

.contact__call-to-action {
  color: #fc6a37;
  font-size: 20px;
}

.contact__text {
  font-size: 12px;
}

.contact__sbmt-btn {
  margin: 20px 20px 20px auto;
  width: 100px;
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 20px;
  }

  .contact__container {
    padding: 10px 20px;
  }

  .contact__title {
    font-size: 25px;
  }

  .contact__subtitle {
    font-size: 20px;
    width: 75%;
    margin: auto auto 40px 0;
  }

  .contact__element {
    display: flex;
    flex-direction: column;
  }

  .contact__text {
    font-size: 12px;
  }

  .contact__btn {
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    padding: 10px;
  }

  .contact__container {
    padding: 10px 10px;
  }

  .contact__input {
    min-width: 75px;
    font-size: 10px;
  }
}
