.header {
  display: flex;
  position: fixed;
  height: 46px;
  z-index: 2;
  width: 100vw;
  justify-content: center;
  background-color: #009299;
  opacity: 0.9;
}

.header__container {
  width: 45%;
  display: flex;
}

.header__element {
  margin: 10px auto;
  outline: none;
  color: aliceblue;
}

.header__center {
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__center-square {
  position: fixed;
}

.header__center-circle {
  position: fixed;
}

.header__center-orange {
  position: fixed;
}

.header__scroller {
  position: fixed;
  height: 1vh;
  opacity: 0.7;
  width: 100vw;
  background-color: #fc6a37;
  top: 46px;
  z-index: 2;
  transform-origin: 0%;
}

@media screen and (max-width: 550px) {
  .header__scroller {
    display: hidden;
    top: 0;
  }
}
