.techs__container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.techs__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__pic {
  height: 5vh;
}

.techs__text {
  margin: 10px;
}
